<!--Add-items-modal-->
<div class="title mb-4">
    <h5> + Add new tool</h5>
</div>
<div class="d-flex flex-column flex-wrap align-items-center">
    <div class="form-group">
        <label for=""> Tool Name </label>
        <input type="text" class="form-control" placeholder="Tool name" name="title" [(ngModel)]="request.title" >
    </div>
    <div class="form-group">
        <label for=""> Tool Link </label>
        <input type="text" class="form-control" placeholder="link url" name="link" [(ngModel)]="request.link"  >
    </div>
    <div class="form-group">
        <label for=""> Tool Description </label>
        <input type="text" class="form-control" placeholder="Description" name="description" [(ngModel)]="request.description"  >
    </div>
    <div class="form-group">
        <label for=""> Tags </label>
        <input type="text" class="form-control" placeholder="Type to search.." name="tags" [(ngModel)]="request.tags"  >
    </div>
    <button class="btn-add" class="form-control" type="button" (click)="onSave()">
        Add tool
    </button>
</div>
