@import "./../../../assets/scss/variables";

.form-group {
    width: 100%;
}
.form-control {
    background-color: $color-bg-primary;

    &:hover, &:focus {
        border: 1px solid $lightest-ink;
    }
}
