<!--Header-->
<header>
    <div class="container my-5">
        <div class="row py-3">
            <div class="col-12">
                <h1 class="main-title py-3">VUTTR</h1>
                <div class="title"> Very Useful Tools to Remember </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <!--Search-Row-->
        <div class="search-row row justify-content-between align-items-center my-0">
            <div class="col-6">
                <!--Search-Bar-->
                <form class="d-flex flex-row flex-wrap align-items-center">
                    <div class="search-bar">
                        <input type="search" placeholder="Type to search..">
                    </div>
                    <div class="tags-checkbox ml-4">
                        <input type="checkbox">
                        <label class="ml-2" for="checkbox"> Search in tags only </label>
                    </div>
                </form>
            </div>
            <div class="col-6 d-flex flex-wrap justify-content-end">
                <!--Add-Button-->
                <button class="btn-add" type="button" data-toggle="modal" data-target="#newTool">
                    <span>+</span> Add
                </button>
            </div>
        </div>
        <!--Add-items-modal-->
        <div class="new-tool modal fade" id="newTool" tabindex="-1" role="dialog" aria-labelledby="newTool"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content py-5 px-4">
                    <div class="title mb-4">
                        <h5> + Add new tool</h5>
                    </div>
                    <form (ngSubmit)="onSend()" [formGroup]="fmGroup" method="POST"class="d-flex flex-column flex-wrap align-items-center">
                        <div class="form-group">
                            <label for=""> Tool Name </label>
                            <input type="text" class="form-control" placeholder="Type to search..">
                        </div>
                        <div class="form-group">
                            <label for=""> Tool Link </label>
                            <input type="text" class="form-control" placeholder="Type to search..">
                        </div>
                        <div class="form-group">
                            <label for=""> Tool Description </label>
                            <input type="text" class="form-control" placeholder="Type to search..">
                        </div>
                        <div class="form-group">
                            <label for=""> Tags </label>
                            <input type="text" class="form-control" placeholder="Type to search..">
                        </div>
                        <button class="btn-add" class="form-control" type="button">
                            Add tool
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!--Tool-Items-->
        <div class="tool-items row px-3 pb-5 mt-4">
            <!--Item-->
            <div class="item-card col-12 mt-4" *ngFor="let tool of tools">
                <div class="d-flex flex-row flex-wrap justify-content-between">
                    <a href="{{tool.link}}" target="_blank">
                        <h3 class="tool-title"> {{ tool.title }} </h3>
                    </a>
                    <button class="btn-remove" role="button" data-toggle="modal" data-target="#removeTool" >
                        <span> x </span> Remove
                    </button>
                </div>
                <div class="tool-description py-4">
                    {{ tool.description }}
                </div>
                <div class="d-flex flex-row flex-wrap" *ngFor="let tag of tool.tags">
                    <div class="tool-tags">
                        <!-- <span class="mr-4"> {{'#'+tags.tag + tool.tags}}</span> -->
                        {{ '#' + tag.tags }}
                    </div>
                </div>
            </div>
            <!--Remove-item-modal-->
            <div class="remove-tool modal fade" id="removeTool" tabindex="-1" role="dialog" aria-labelledby="removeTool"
                aria-hidden="true"> class="btn-add" class="form-control" type="button">
                Add
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content py-5 px-4">
                        <div class="title mb-3">
                            <h5> x Remove tool</h5>
                        </div>
                        <form  class="d-flex flex-column flex-wrap align-items-center">
                            <div class="form-group">
                                <label for=""> Tool Name </label>
                                <input type="text" class="form-control" placeholder="Type to search..">
                            </div>
                            <button class="btn-add" class="form-control" type="button">
                                Remove
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer>
</footer>
