<!--Header-->
<header>
    <div class="container my-5">
        <div class="row py-3">
            <div class="col-12">
                <h1 class="main-title py-3">VUTTR</h1>
                <div class="title"> Very Useful Tools to Remember </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <!--Search-Row-->
        <div class="search-row row justify-content-between align-items-center my-0">
            <div class="col-6">
                <!--Search-Bar-->
                <form class="d-flex flex-row flex-wrap align-items-center">
                    <div class="search-bar">
                        <input class="input" type="search" placeholder="Type to search..">
                    </div>
                    <div class="tags-checkbox my-3 ml-4">
                        <input type="checkbox">
                        <label class="ml-2" for="checkbox"> Search in tags only </label>
                    </div>
                </form>
            </div>
            <div class="col-6 d-flex flex-wrap justify-content-end">
                <!--Add-Button-->
                <button class="btn btn-neutral" type="button" data-toggle="modal" data-target="#newTool">
                    <span>+</span> Add
                </button>
            </div>
        </div>
        <div class="new-tool modal fade" id="newTool" tabindex="-1" role="dialog" aria-labelledby="newTool"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content py-5 px-4">
                    <app-create-tool></app-create-tool>
                </div>
            </div>
        </div>
        <!--Tool-Items-->
        <div class="tool-items row px-3 pb-5 mt-4" *ngIf="tools">
            <!--Item-->
            <div class="item-card col-12 mt-4" *ngFor="let tool of tools">
                <div class="d-flex flex-row flex-wrap justify-content-between">
                    <a href="{{tool.link}}" target="_blank">
                        <h3 class="tool-title"> {{ tool.title }} </h3>
                    </a>
                    <button class="btn-remove" role="button" data-toggle="modal" data-target="#removeTool">
                        <span> x </span> Remove
                    </button>
                    <!--Remove-item-modal-->
                    <div class="remove-tool modal fade" id="removeTool" tabindex="-1" role="dialog"
                        aria-labelledby="removeTool" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content py-5 px-4">
                                <div class="title-modal">
                                    <img class="img-fluid mr-2" src="./../../../assets/img/icon_close.png" alt="Icon Add">
                                    <h5 class="pt-1">Remove tool</h5>
                                </div>
                                <div class="text text-left mb-5">
                                    Are you sure you want to remove {{ tool.title }} ?
                                </div>
                                <div class="text-right d-flex flex-row justify-content-lg-end">
                                    <button class="btn-neutral btn  mr-3" type="button">
                                        Cancel
                                    </button>
                                    <button class="btn-danger btn" type="button" (click)="removeTool()" >
                                        Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tool-description py-4">
                    {{ tool.description }}
                </div>
                <div class="d-flex flex-row flex-wrap">
                    <div class="tool-tags">
                        {{ tool.tags }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer>
    <div class="d-flex flex-row align-items-center justify-content-center pt-3 pb-5">
        Developed by <a href="https://github.com/andRiott7" target="_blank" ><img class="img-fluid mx-2" src="./../../../assets/img/icon_close.png" alt="Icon Add"></a>
    </div>
</footer>
