@import "./../assets/scss/variables";

header {
    .main-title {
        font-size: 2.625rem !important;
        font-weight: bolder;
    }
    .title {
        font-size: 1.875rem;
    }
}

main {
    .search-row {
        .search-bar {
            .input {
                width: 17.175rem;
                padding-left: 3.15rem;
                padding-right: 0.5rem;
                background: $color-bg-secondary url('./../assets/img/icon_search.png') left 1rem center no-repeat;
            }
        }
    }

    .tool-items {
        .item-card {
            border: $solid-rule;
            border-radius: $radius;
            padding: 2rem;
            background-color: $color-terciary;
            box-shadow: $shadow;
        }
        .tool-title {
            font-size: 1.875rem;
            color: $color-neutral;
            border-bottom: 1px solid $color-neutral;
        }
        .btn-remove {
            span {
                font-size: 1.25rem;
                margin-right: 0.5rem;
            }
            &:hover {
                color: $color-danger;
            }
        }
        .tool-tags {
            span {
                margin-right: 0.75rem;
            }
        }
    }

}
