@import "assets/scss/reset";
@import "assets/scss/variables";
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

/*Base-Styles*/
html,
body {
    background-color: $color-bg-primary !important;
    font-family: $font-stack-primary !important;
    color: $color-text !important;
}
/*Containers*/
.container {
    max-width: 98%;
    @media (min-width: $xs) {
        max-width: 94%;
    }
    @media (min-width: $lg) {
        max-width: 85%;
    }
    @media (min-width: $xl) {
        max-width: 58%;
    }
    @media (min-width: $xxl) {
        max-width: 50%;
    }
}
/*Buttons*/
a,
button {
    -webkit-transition: 0.35s ease;
    transition: 0.35s ease;
    background: transparent;
    &::placeholder {
        color: $lighter-ink;
    }
    img {
        width: 1rem;
        margin-right: 0.5rem;
    }
}

.btn {
    height: 3rem;
    color: $color-terciary;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.125rem 2rem;
    span {
        font-size: 1.5rem;
        margin-right: 0.75rem;
    }
    &.btn-neutral {
        background-color: $color-neutral;
        &:hover {
            color: $color-terciary;
            background-color: $dark-blue;
        }
        &:focus {
            background-color: $darker-blue;
        }
    }

    &.btn-danger {
        background-color: $color-danger;
        &:hover {
            background-color: $dark-red;
        }
        &:focus {
            background-color: $darker-red;
        }
    }
}

/*Inputs*/
.input {
    height: 3rem;
    border: $solid-rule;
    border-radius: $radius;
}

/*Title*/
.title-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
    img {
        max-width: 2rem;
        margin-right: 0.75rem;
    }
}
